*{
  padding: 0;
  margin: 0;  
  color: white;
  font-family: sans-serif;
}
body{
  background-color: black;
  display: flex;
  /* عشان ما يظهرش scroll */
}
.img-box{
  width: 50px;
  height: 50px;
border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
   

}
 .img-box:hover::before {  
 content: '';
     position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh;
     pointer-events: none;
    background: rgba(0, 0, 0, 0.4); /* ضل خفيف خلفي */
    backdrop-filter: blur(9px); /* نغمشة الصفحة كلها */
    -webkit-backdrop-filter: blur(60px);
    z-index: 9999; /* تحت الصورة مباشرة وفوق الصفحة */
}
 /* .img-box img{
  width: 100%;
 

}  */
  .full-screen-preview{
 position: relative;
left: -2px;
top: -2px;
width: 50px;
    border: 2px solid white;
    
    border-radius: 50%;



    pointer-events: none;
    
   
    
    
        opacity: 1;
    
  

}   
/* تنسيق الحاوية الأساسية للصورة */

 
/* .full-screen-preview{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}   */

.img-box:hover .full-screen-preview  {
  /* مخفية افتراضياً */
   
  position: fixed; /* ثابتة بالنسبة للشاشة */
  top: 50%; /* في المنتصف من الأعلى */
  left: 50%; /* في المنتصف من اليسار */
   transform: translate(-45%, -50%);/* لضبط المركز تماماً */
  width: 400px; /* حجم الصورة عند الظهور */
  max-width: 90vw; /* ضمان عدم خروجها عن الشاشة */
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5); /* ظل لإبرازها */
  z-index: 9999; /* لتظهر فوق أي عنصر آخر */
 pointer-events: none; /* لكي لا تعيق الماوس */
   border: 3px solid white;
   border-radius: 50%;
  
     transition-delay:  1s ease; 
 opacity: 1;
  pointer-events: auto;
}

 .profile{
display: flex;
align-items: center;
gap: 30px;
 cursor: pointer;
}
.profile h2{
  font-size: 20px;
  text-transform: capitalize;
}

.menu{
 background-color: rgb(22, 22, 55);
 width: 55px;
 height: 100vh;
 padding:25px ;
 overflow: hidden;
 transition: 0.5s;

}
.menu:hover{
  width: 250px;
 
}
ul{
    list-style: none;
    position: relative;
    height:95% ;
}
ul li a{
display: block;
text-decoration: none;

padding: 10px ;
margin: 10px 0 ;
border-radius: 8px;
display: flex;
align-items: center;
gap: 40px;
transition: 0.5s;
}
ul li a:hover, .active{
  background-color:#ffffff55;
}
.log-out{
    position: absolute;
bottom: 0;
width: 100%;
}
.log-out a{
  background-color: rgb(150, 22, 22);
}
ul li a i{
  font-size: 30px;
}
.content{
  background-color: rgb(0, 0, 0);
  width: 100%;

  margin:10px ;

}
.title-info{
  background-color: #0080ff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin: 10px 0;
}
.data-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.data-info .box{
  background-color: rgb(22, 22, 55);
  height: 150px;
 flex-basis: 150px;
  flex-grow: 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;


} 
ul li a:hover, .active, .data-info .box:hover, td:hover{
  background-color:#ffffff55;
  cursor: pointer;
}

.data-info .box i{
  font-size: 40px;
  font-weight: bold;
}
.data-info .box .data{
text-align:center ;
}
.data-info .box .data span{
  
  font-size: 30px;

}
table{
  width: 100%;
  text-align: center;
  border-spacing: 8px;
}
td, th{
background-color: #123;
height:40px ;
border-radius: 8px;
}
th{
  background-color: #0080ff;
}

.price .count{
  padding: 6px;
  border-radius: 6px;
}
.price {
  background-color: green;
  color: black;
}
.count {
  background-color: gold;
  color: black;
}